/* header */
header {
    position: relative
}
.nav {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 60px;
    background-color: #eaf5d1;
    border-radius: 50px;
    border: 2px solid #243c30;
    padding: 0 36px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    /* change with .nav.fixed */
    top: 65px;
    z-index: 300;
}
.nav.fixed {
    position: fixed;
    top: 14px;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo span {
    width: 95px;
    height: 35px;
    background-color: #525252;
    cursor: pointer;
}

.menu {
    width: 60%;
    max-width: 280px;
}

.menu ul {
    /* margin: 0;
    padding: 0; */
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.menu ul li {
    display: block;
    margin: 0 5px;
    margin-top: 1px;
}

.menu ul li span {
    color: #243c30;
    font-size: 15px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 500px;
    }
    .nav {
        padding: 0 20px;
    }
}