/* common */
.section_title {
    width: 100%; 
    padding-top: 120px;
    padding-bottom: 22px; 
    display: flex; 
    justify-content: center;
    color: #243C30;
    font-family: 'HSBombaram';
}
.section_title {
    font-size: calc(20px + 1vw);
}
/* part0 */
.part0 {
    font-family: 'NanumSquareNeo-Variable';
    background: url("/img/main.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100vh; 
}
.main_text {
    font-family: 'HSBombaram';
    text-align: center;
    font-size: 6vw;
    color: #ffd310;
    width: 100%;
    position: absolute;
    bottom: 80px;
}
.effect_header {
    overflow: hidden;
    background-color: #243C30;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 10px 0px;
}
/* .marquee를 .marquee_wrap으로 수정 (기존 marquee를 marquee_wrap으로 감쌌기때문 */
/* animation disabled */
.marquee_wrap {
    display: flex;
}
.effect_header .marquee_wrap {
    height: 100%;
    align-items: center;
}
.effect_header .marquee {
    /* font-size: 1.5vw; */
    font-size: 18px;
    color: #ffff;
    font-weight: 700;
    display: inline-block;
    /* animation: marquee 15s linear infinite; */
    white-space: nowrap;
    margin-right: 5px;
}

/* @keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
} */
/* part1 */
.part1 {
    background-color: #eaf5d1;
    width: 100%;
    /* height: 100vh; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    position: relative;
    overflow: hidden;
}
.frame {
    /* background: #ffff; */
    width: 100%;
    /* height: 100px; */
    /* position: relative; */
    /* overflow: hidden; */
}
/* lagacy */
/* .wave {
    position: absolute;
    top: 0;
    display: flex;
    animation: move linear infinite;

}
.circle {
    display: inline-block;
    width: 100px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    top: 100px;
}
.wave-back {
    background: #ffff;
    height: 130px;
    animation-duration: 4s;
    animation-play-state: running;
}
.wave-back .circle:nth-of-type(even) {
    background: #ffff;
}
.wave-back .circle:nth-of-type(odd) {
    background: #ffff;
}
@keyframes move {
    0% {transform: translate(-500px);}
    100% {transform: translate(2px);}
} */
/* new wave style */
.wave {
    display: flex;
    background-color: #fff;
    height: 34px;
}
.circle {
    display: inline-block;
    background-color: #fff;
    width: 100px;
    height: 70px;
    border-radius: 50%;
}
/* end */

/* list */
#slider {
    /* overflow: hidden; */
    /* position: absolute; */
    margin-top: 110px;
    margin-bottom: 100px;
}   
.slider {
    /* position: relative; */
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* -webkit-overflow-scrolling: touch; */
}
.list {
    display: flex;
    width: 100%;
    /* transform: translate(0,0); */
    scroll-snap-type: x mandatory;
    padding-bottom: 15px;
}
.item {
    /* width: 357px;
    height: 450px; */
    border-radius: 10px;
    border: 1px solid #243C30;
    margin-left: 40px;
    flex-shrink: 0;
    scroll-snap-align: center;
    object-fit: cover;
    box-shadow: 10px 10px 5px #98a087;
    overflow: hidden;
}
.item img {
    display: block;
}
.item h4 {
    border-top: 1px solid #243C30;
    border-bottom: 1px solid #243C30;
    padding: 15px;
    text-align: center;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: 700;
    font-size: 18px;
}
.item article {
    text-align: center;
    padding: 15px;
}
.item .link {
    font-size: 18px;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: 700;
}
/* modal */
#modal {
    display: none;
    width: 70vw;
    height: 90vh;
    max-width: 900px;
    min-width: 350px;
    position: fixed;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    z-index: 501;
    overflow: auto;
}
#modal.show {
    display: block;
}
.modal_btn:hover {
    cursor: pointer;
    color: #FFD310;
}
.modal_wrap li {
    display: none;
    position: relative;
}
.modal_wrap li.show {
    display: block;
    /* position: absolute; */
    z-index: 502;
}
.black_bg {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    top: 0px;
    left: 0px;
    z-index: 500;
}
.black_bg.show {
    display: block;
}
.modal_close {
    width: 20px;
    position: absolute;
    top: 30px;
    right: 30px;
}
.modal_close > span {
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://img.icons8.com/metro/26/000000/close-window.png);
    background-size: cover;
    text-indent: -9999px;
    cursor: pointer;
}
.modal_close > span:hover {
    background-color: #fff;
    scale: 1.2;
}
.modal_img {
    /* overflow-y: scroll;
    width: 100%; */
    max-height: calc(100% - 30px);
    /* overflow-y: auto; */
}
.modal_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* 스크롤바 숨기기 */
.slider::-webkit-scrollbar {
    display: none;
}


/* part2 */
.part2 {
    background-color: #eaf5d1;
    width: 100%;
    position: relative;
}
.skills_wrap {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}
.skills_wrap .skills_number {
    position: absolute;
    width: 70vw;
    min-width: 560px;
    max-width: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.skills_wrap .skills_number_mobile {
    display: none;
}
.skills_wrap .lottie {
    /* width: 100%; */
    min-width: 800px;
}
.part2 .bubble_frame {
    position: absolute;
    width: 100%;
    overflow: hidden;
    bottom: -110px;
    z-index: 1;
}
.part2 .bubble {
    /* TODO: 버블이 중간으로 왔으면 좋겠는데 중간으로 오지는 않는다. */
    /* 100%로 했을때 */
    /* width: 100%; */
    /* bottom: -79px; */
    /* 1800px로 했을때 */
    width: 1800px;
    /* bottom: -110px; */
    /* disabled due to generate new parent div */
}

/* part3 */
.part3 {
    background-color: #ffff;
    width: 100%;
    position: relative;
}
.contact_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: linear-gradient(to bottom, #ffff 50%, #243C30 50%);
}
.contact_circle {
    font-family: NanumSquareNeo-Variable;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 362px;
    height: 362px;
    border-radius: 50%;
    border: 1px solid #243C30;
    background-color: #ffff;
    margin-bottom: 30px;
}
.contact_circle_text {
    font-weight: 900;
    font-variation-settings: "wght" 900;
    font-size: 24px;
    line-height: 40px;
    margin-top: 80px;
    margin-bottom: 30px;
    color: #243C30;
}
.email_btn {
    font-weight: 700;
    font-variation-settings: "wght" 700;
    padding: 14px 77px;
    border-radius: 50px;
    border: 1px solid #243C30;
    background-color: #ffff;
    text-align: center;
    cursor: pointer;
    color: #243C30;
    margin-bottom: 10px;
}
.email_btn:hover {
    background-color: #243C30;
    color: #ffff;
    transition: all 0.1s;
}
.f_logo {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    /* part0 */
    .main_text {
        font-size: calc(50px + 1vw * 0.5);
        text-align: left;
        padding: 0px 30px;
        bottom: 80px;
    }
    /* part2 */
    .skills_wrap .skills_number {
        display: none;
    }
    .skills_wrap .skills_number_mobile {
        display: block;
        position: absolute;
        width: 90vw;
        max-width: 500px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    .skills_wrap .lottie {
        min-width: 400px;
    }
    .part2 .bubble_frame {
        bottom: -58px;
    }
    .part2 .bubble {
        width: 1000px;
        /* bottom: -58px; */
    }
}