/* part1 */
.part1 {
    background-color: #eaf5d1;
    width: 100%;
    /* height: 100vh; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    position: relative;
    overflow: hidden;
}
.frame {
    /* background: #ffff; */
    width: 100%;
    height: 100px;
    /* position: relative; */
    /* overflow: hidden; */
}
.wave {
    position: absolute;
    top: 0;
    display: flex;
    animation: move linear infinite;

}
.circle {
    display: inline-block;
    width: 100px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    top: 100px;
}
.wave-back {
    background: #ffff;
    height: 130px;
    animation-duration: 4s;
    animation-play-state: running;
}
.wave-back .circle:nth-of-type(even) {
    background: #ffff;
}
.wave-back .circle:nth-of-type(odd) {
    background: #ffff;
}
@keyframes move {
    0% {transform: translate(-500px);}
    /* 50% {transform: translate(50px);} */
    100% {transform: translate(2px);}
}
.works {
    font-family: 'HSBombaram';
    font-size: 1.8vw;
    color: #243C30;
    position: absolute;
    right: 45%;
    top: 8%;
}

/* list */
#slider {
    /* overflow: hidden; */
    /* position: absolute; */
    margin-top: 150px;
    margin-bottom: 100px;
}   
.slider {
    /* position: relative; */
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* -webkit-overflow-scrolling: touch; */
}
.list {
    display: flex;
    width: 100%;
    /* transform: translate(0,0); */
    scroll-snap-type: x mandatory;
}
.item {
    /* width: 357px;
    height: 450px; */
    border-radius: 10px;
    border: 1px solid #243C30;
    margin-left: 40px;
    flex-shrink: 0;
    scroll-snap-align: center;
    object-fit: cover;
    box-shadow: 10px 10px 5px #243C30;
}
.item img {
    display: block;
}
.item h4 {
    border-top: 1px solid #243C30;
    border-bottom: 1px solid #243C30;
    padding: 15px;
    text-align: center;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: 700;
    font-size: 18px;
}
.item article {
    text-align: center;
    padding: 15px;
}
.item .link {
    font-size: 18px;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: 700;
}
/* modal */
#modal {
    display: none;
    width: 70vw;
    height: 50vh;
    max-width: 900px;
    min-width: 350px;
    position: fixed;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    z-index: 300;
}
#modal.show {
    display: block;
}
.modal_btn:hover {
    cursor: pointer;
    color: #FFD310;
}
.modal_wrap li {
    display: none;
}
.modal_wrap li.show {
    display: block;
    position: absolute;
    z-index: 501;
}
.black_bg {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
    z-index: 200;
}
.black_bg.show {
    display: block;
}
.modal_close {
    width: 20px;
    position: absolute;
    top: 30px;
    right: 30px;
}
.modal_close > span {
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://img.icons8.com/metro/26/000000/close-window.png);
    background-size: cover;
    text-indent: -9999px;
    cursor: pointer;
}
.modal_close > span:hover {
    background-color: #fff;
    scale: 1.2;
}
.modal_img img {
    width: 100%;
}


/* 스크롤바 숨기기 */
.slider::-webkit-scrollbar {
    display: none;
}


/* part2 */
.part2 {
    background-color: #ffff;
    width: 100%;
    height: 100vh;
}
.skills {
    font-family: 'HSBombaram';
    font-size: 1.8vw;
    color: #243C30;
    /* position: absolute;
    top: 0%; */
    text-align: center;
    margin-top: 80px;
}

/* part3 */
.part3 {
    background-color: #ffff;
    width: 100%;
    height: 100vh;
}
.contect {
    font-family: 'HSBombaram';
    font-size: 1.8vw;
    color: #243C30;
    /* position: absolute;
    top: 0%; */
    text-align: center;
    margin-top: 80px;
}