* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    border:none;
    background: none;
    font-family: 'NanumSquareNeo-Variable';
    font-size: 18px;
    font-weight: 700;
    width: 355px;
    padding: 15px;
}

main {}
footer {
    width: 100%;
    overflow: hidden;
}

.container {
    width: 1450px;
    margin: 0 auto;
}
