* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    font-family: 'NanumSquareNeo-Variable';
    background: url("/img/main.png");
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100%;
    height: 85vh; 
    padding-top: 50px;
    position: relative;
}
main {}
footer {}

.container {
    width: 1250px;
    margin: 0 auto;
}


/* top */


/* header */
h2 {
    font-family: 'HSBombaram';
    text-align: center;
    font-size: 6vw;
    color: #ffd310;
    width: 100%;
    position: absolute;
    bottom: 20%;
}
.nav {
    width: 100%;
    height: 60px;
    background-color: #eaf5d1;
    border-radius: 50px;
    border: 2px solid #243c30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.logo {
    flex: 0 0 auto;
}

.logo span {
    width: 95px;
    height: 35px;
    background-color: #f1f1f1;
}

.menu {
    flex: 1 0 auto;
    text-align: right;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    margin: 0 20px;
    line-height: 60px;
}

.menu ul li a {
    color: #243c30;
    font-size: 15px;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 500px;
    }
    .nav {
        padding: 0;
    }

    .menu ul li {
        margin: 0 10px;
    }
}
.effect_header {
    overflow: hidden;
    background-color: #243C30;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.effect_header .marquee {
    font-size: 1.5vw;
    color: #ffff;
    font-weight: 700;
    display: inline-block;
    animation: marquee 5s linear infinite;
    white-space: nowrap;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* main */
/* part1 */
.part1 {
    background-color: #eaf5d1;
    width: 100%;
    height: 100vh;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    position: relative;
    overflow: hidden;
}
.frame {
    /* background: #ffff; */
    width: 100%;
    height: 100px;
    /* position: relative; */
    /* overflow: hidden; */
}
.wave {
    position: absolute;
    top: 0;
    display: flex;
    animation: move linear infinite;

}
.circle {
    display: inline-block;
    width: 100px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    top: 100px;
}
.wave-back {
    background: #ffff;
    height: 130px;
    animation-duration: 4s;
    animation-play-state: running;
}
.wave-back .circle:nth-of-type(even) {
    background: #ffff;
}
.wave-back .circle:nth-of-type(odd) {
    background: #ffff;
}

@keyframes move {
    0% {transform: translate(-500px);}
    /* 50% {transform: translate(50px);} */
    100% {transform: translate(2px);}
}

.about {
    font-family: 'HSBombaram';
    font-size: 1.8vw;
    color: #243C30;
    position: absolute;
    right: 35%;
    top: 8%;
}